/*header*/

header h1{
  text-align: center;
  font-size: 2.2em;
}

header h2{
  text-align: right;
  font-size: 1.5;
}

header p{
  text-align: center;
  font-size: 0.8em;
}

header span{
  text-decoration: underline;
}
/*Main*/
h2{
  text-align: center;
}

.usual{
  font-style: oblique;
}

.danger{
  font-weight: bold;
}

.danger span, .usual span{
  text-decoration: line-through;
}
